-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: dictionary_db
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `antonym`
--

DROP TABLE IF EXISTS `antonym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `antonym` (
  `meaning_id` int NOT NULL,
  `antonym_id` int NOT NULL,
  PRIMARY KEY (`meaning_id`,`antonym_id`),
  KEY `antonym_idx` (`antonym_id`),
  CONSTRAINT `antonym` FOREIGN KEY (`antonym_id`) REFERENCES `words` (`word_id`),
  CONSTRAINT `meaning2` FOREIGN KEY (`meaning_id`) REFERENCES `meaning` (`meaning_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `antonym`
--

LOCK TABLES `antonym` WRITE;
/*!40000 ALTER TABLE `antonym` DISABLE KEYS */;
INSERT INTO `antonym` VALUES (5,3),(5,4),(3,5),(4,5),(9,7),(7,8);
/*!40000 ALTER TABLE `antonym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biological_word`
--

DROP TABLE IF EXISTS `biological_word`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `biological_word` (
  `word_id` int NOT NULL,
  `scientific_name` varchar(50) CHARACTER SET utf32 COLLATE utf32_unicode_ci NOT NULL,
  `image` longblob,
  PRIMARY KEY (`word_id`),
  UNIQUE KEY `word_id_UNIQUE` (`word_id`),
  CONSTRAINT `biological_word_id` FOREIGN KEY (`word_id`) REFERENCES `words` (`word_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biological_word`
--

LOCK TABLES `biological_word` WRITE;
/*!40000 ALTER TABLE `biological_word` DISABLE KEYS */;
/*!40000 ALTER TABLE `biological_word` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lang_bengali`
--

DROP TABLE IF EXISTS `lang_bengali`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lang_bengali` (
  `word_id` int NOT NULL,
  `bengali_word` varchar(50) CHARACTER SET utf32 COLLATE utf32_unicode_ci NOT NULL,
  PRIMARY KEY (`word_id`,`bengali_word`),
  CONSTRAINT `word_in_bengali` FOREIGN KEY (`word_id`) REFERENCES `words` (`word_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lang_bengali`
--

LOCK TABLES `lang_bengali` WRITE;
/*!40000 ALTER TABLE `lang_bengali` DISABLE KEYS */;
INSERT INTO `lang_bengali` VALUES (1,'αª¼αª╛αªÿ'),(2,'αªòαª«αºìαª¬αª┐αªëαªƒαª╛αª░'),(3,'αªûαºüαª╢αª┐'),(4,'αªåαª¿αª¿αºìαªªαªªαª╛αª»αª╝αªò'),(5,'αªªαºüαªâαªûαª£αª¿αªò'),(6,'αªÿαºïαªíαª╝αª╛'),(7,'αªùαªñαª┐'),(7,'αª»αª╛αªôαª»αª╝αª╛'),(8,'αªÑαª╛αªòαª╛');
/*!40000 ALTER TABLE `lang_bengali` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lang_gujrati`
--

DROP TABLE IF EXISTS `lang_gujrati`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lang_gujrati` (
  `word_id` int NOT NULL,
  `gujrati_word` varchar(50) CHARACTER SET utf32 COLLATE utf32_unicode_ci NOT NULL,
  PRIMARY KEY (`word_id`,`gujrati_word`),
  CONSTRAINT `word_in _gujrati` FOREIGN KEY (`word_id`) REFERENCES `words` (`word_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lang_gujrati`
--

LOCK TABLES `lang_gujrati` WRITE;
/*!40000 ALTER TABLE `lang_gujrati` DISABLE KEYS */;
INSERT INTO `lang_gujrati` VALUES (1,'α¬╡α¬╛α¬ÿ'),(2,'α¬òα¬«α½ìα¬¬α½ìα¬»α½üα¬ƒα¬░'),(3,'α¬ûα½üα¬╢'),(4,'α¬åα¬¿α¬éα¬ªα¬òα¬╛α¬░α¬ò'),(5,'α¬ëα¬ªα¬╛α¬╕α½Ç'),(6,'α¬ÿα½ïα¬íα½ï'),(7,'α¬£α¬╡α½üα¬é'),(7,'α¬£α¬╛α¬ô'),(8,'α¬èα¬¡α¬╛ α¬░α¬╣α½çα¬╡α½üα¬é');
/*!40000 ALTER TABLE `lang_gujrati` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lang_hindi`
--

DROP TABLE IF EXISTS `lang_hindi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lang_hindi` (
  `word_id` int NOT NULL,
  `hindi_word` varchar(50) CHARACTER SET utf32 COLLATE utf32_unicode_ci NOT NULL,
  PRIMARY KEY (`word_id`,`hindi_word`),
  CONSTRAINT `word_in_hindi` FOREIGN KEY (`word_id`) REFERENCES `words` (`word_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lang_hindi`
--

LOCK TABLES `lang_hindi` WRITE;
/*!40000 ALTER TABLE `lang_hindi` DISABLE KEYS */;
INSERT INTO `lang_hindi` VALUES (1,'αñ¼αñ╛αñÿ'),(2,'αñòαñéαñ¬αÑìαñ»αÑéαñƒαñ░'),(3,'αñûαÑüαñ╢'),(4,'αñåαñ¿αñéαñªαñ¬αÑéαñ░αÑìαñú'),(5,'αñëαñªαñ╛αñ╕'),(6,'αñÿαÑïαñíαñ╝αñ╛'),(7,'αñÜαñ▓αñ¿αñ╛'),(7,'αñ£αñ╛αñ¿αñ╛'),(8,'αñûαñíαñ╝αñ╛ αñ╣αÑïαñ¿αñ╛');
/*!40000 ALTER TABLE `lang_hindi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meaning`
--

DROP TABLE IF EXISTS `meaning`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meaning` (
  `meaning_id` int NOT NULL AUTO_INCREMENT,
  `description` varchar(500) NOT NULL,
  `part_of_speech_id` int NOT NULL,
  `word_id` int DEFAULT NULL,
  `example` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`meaning_id`),
  KEY `word_id_idx` (`word_id`),
  KEY `part_of_speach_id_idx` (`part_of_speech_id`),
  CONSTRAINT `part_of_speach_id` FOREIGN KEY (`part_of_speech_id`) REFERENCES `part_of_speech` (`part_of_speech_id`),
  CONSTRAINT `word_id` FOREIGN KEY (`word_id`) REFERENCES `words` (`word_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meaning`
--

LOCK TABLES `meaning` WRITE;
/*!40000 ALTER TABLE `meaning` DISABLE KEYS */;
/*!40000 ALTER TABLE `meaning` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `part_of_speech`
--

DROP TABLE IF EXISTS `part_of_speech`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `part_of_speech` (
  `part_of_speech_id` int NOT NULL AUTO_INCREMENT,
  `part_of_speech_tag` varchar(30) NOT NULL,
  PRIMARY KEY (`part_of_speech_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `part_of_speech`
--

LOCK TABLES `part_of_speech` WRITE;
/*!40000 ALTER TABLE `part_of_speech` DISABLE KEYS */;
INSERT INTO `part_of_speech` VALUES (1,'noun'),(2,'adjective'),(3,'intransitive verb');
/*!40000 ALTER TABLE `part_of_speech` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `synonym`
--

DROP TABLE IF EXISTS `synonym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `synonym` (
  `meaning_id` int NOT NULL,
  `synonym_id` int NOT NULL,
  PRIMARY KEY (`meaning_id`,`synonym_id`),
  KEY `word_idx` (`synonym_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `synonym`
--

LOCK TABLES `synonym` WRITE;
/*!40000 ALTER TABLE `synonym` DISABLE KEYS */;
INSERT INTO `synonym` VALUES (4,3),(3,4);
/*!40000 ALTER TABLE `synonym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `words`
--

DROP TABLE IF EXISTS `words`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `words` (
  `word_id` int NOT NULL AUTO_INCREMENT,
  `word` varchar(50) NOT NULL,
  `syllable_breakup` varchar(50) CHARACTER SET utf32 COLLATE utf32_unicode_ci NOT NULL,
  `pronunciation` varchar(50) CHARACTER SET utf32 COLLATE utf32_unicode_ci NOT NULL,
  PRIMARY KEY (`word_id`),
  UNIQUE KEY `word_UNIQUE` (`word`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `words`
--

LOCK TABLES `words` WRITE;
/*!40000 ALTER TABLE `words` DISABLE KEYS */;
INSERT INTO `words` VALUES (1,'tiger','ta╔¬.╔í╔Ör','tie-gur'),(2,'computer','com┬╖put┬╖er','kuhm-pyoo-tuh'),(3,'happy','hap-py','hap-ee'),(4,'joyful','joy┬╖ful','joi-full'),(5,'sad','sad','sad'),(6,'horse','horse','hawrs'),(7,'go','go','goh'),(8,'stand','stand','sd├índ');
/*!40000 ALTER TABLE `words` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-03-29  2:42:52
